@import "../variables";
@import "../mixins";

.leave-button {
  @include flex-end;
  margin: 2rem 1rem 2rem 0;
}

.group-details-container{
  border-bottom: $default-border;
  padding-bottom: 1rem;
  h3 {
    color: $primary-color-dark;
    padding: 1rem 0;
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
  }
  .background-image {
    width: 100%;
  }
  div {
    @include flex-space-between;
    h4 {
      margin: 1rem 0;
    }
    div {
      span {
        color: $icon-grey;
        font-size: 1.4rem;
        padding-left: .7rem;
      }
      span:hover {
        color: $icon-grey-hover;
        cursor: pointer;
      }
    }
  }
  p {
    margin: 0;
  }
}
