@import "variables";
@import "mixins";
.main-footer {
  @include flex-space-between;
  background-color: $primary-color-dark;
  color: #fff;
  padding: 1.7rem 10%;
  p {
    margin: 0;
  }
  ul {
    @include flex-end;
    @include clear-list;
    li {
      padding:0 1rem;
      a {
        color: #fff;
      }
    }
  }
}
