@import "variables";
@import "mixins";

section {
  .group-header {
    @include flex-space-between;
    align-items: flex-end;
    border-bottom: 1px solid $primary-color-darker;
    h2 {
      margin: 0;
      font-weight: 300;
      font-size: 3rem;
      span {
        font-size: 5rem;
        margin-right: 2rem;
        margin-right: 2rem;
      }
    }
    .members {
      font-weight: 300;
    }
  }
  section {
    margin-top: 5rem;
    .search-box {
      float: right;
      input {
        margin: 0;
        font-size: 1rem;
      }
      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: 2px solid $primary-color-darker;
      }
      button:hover {
        border-color: $primary-color;
      }
    }
    table {
      margin-bottom: 3rem;
      width: 100%;
      border: 1px solid $default-grey;
      thead, tbody {
        display: grid;
        tr {
          padding: 1rem;
          display: grid;
          grid-template-columns:80% 15% 5%;
          td:last-of-type {
            text-align: center;
            .fa {
              color: $primary-red;
            }
          }
          td select {
            font-size: 1rem;
            option {
              padding: .2rem;
              border-top: 1px solid red;
            }
          }
        }
      }
      tbody tr {
          border-top: 1px solid $default-grey;
          cursor: pointer;
      }
      tbody tr:hover {
        td:last-of-type {
          text-decoration: underline;
        }
      }
    }
    div button {
      float: right;
    }
  }
}
