@import "variables";
@import "mixins";
 .main-header {
   border-bottom: 2px solid $primary-color;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   div {
     h1 {
       margin: 1rem 1.5rem;
       font-weight: 400;
       color: $primary-color;
       font-size: 2rem;
     }
     ul {
       list-style-type: none;
       display: flex;
       margin: 0 1rem;
       padding: 0;
       li {
         padding: 0 .4rem;
         display: flex;
         align-items: flex-end;
         input {
           border: none;
           border-bottom: 2px solid #d0d0d0;
           outline: none;
           transition: .4s all;
           font-size: 1rem;
           margin-top: .7rem;
         }
         input:focus {
           border-bottom-color: $primary-color
         }
         button {
           @include default-button;
         }
         button:hover {
           @include default-button-hover;
         }
         button:active {
           @include default-button-pressed;
         }
         a {
           color: $primary-color;
           text-decoration: none;
         }
         a:hover {
           text-decoration: underline;
         }
       }
     }
   }
 }
