@import "variables";
@import "mixins";
@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "../../../node_modules/font-awesome/scss/_variables";
@import '../../../node_modules/pretty-checkbox/src/pretty-checkbox';
$fa-font-path: "..fonts" !important;
.icon-user {
  @extend .fa;
  @extend .fa-user;
}
input {
  margin: 0 1rem 1rem 1rem;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid $default-grey;
}
select {
  outline: none;
  border: none;
  font-size: 1.1rem;
}
textarea {
  outline: none;
  resize: none;
  border-color: $default-grey;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button {
  @include default-button;
}
button:hover {
  @include default-button-hover;
}
button:active {
  @include default-button-pressed;
}
.danger-button {
  @include danger-button;
}
.danger-button:hover {
  @include danger-button-hover;
}
.text-marker {
  color: $primary-color-dark;
}
.warning-marker {
  color: $primary-red;
}
.success-marker {
  color: $primary-green;
}
.default-container {
  margin: 0 auto 10vh auto;
  padding-top: 10vh;
  width: $default-width;
}
.default-group-list {
  @include clear-list;
  li {
    padding: .4rem 0;
    font-weight: 300;
    color: $icon-grey;
    a {
      color: $icon-grey;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
.default-grid {
  display: grid;
  grid-template-columns: 25%;
  section {
    grid-column: 2;
  }
}
