@import "variables";
@import "mixins";
@import "../../../node_modules/font-awesome/scss/font-awesome";
@import "../../../node_modules/font-awesome/scss/_variables";
@import '../../../node_modules/pretty-checkbox/src/pretty-checkbox';
$fa-font-path: "..fonts" !important;

.icon-user {
  @extend .fa;
  @extend .fa-user;
}

input {
  font-family: $primary-font;
  margin: 0 1rem 1rem 1rem;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  outline: none;
  border: $default-border;
}
select {
  outline: none;
  border: none;
  font-size: 1.1rem;
  font-family: $primary-font;
  padding: 8px 16px;
}
textarea {
  outline: none;
  resize: none;
  border: $default-border;
  padding: .5rem 1rem;
  font-size: 1.2rem;
  font-family: $primary-font;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button {
  @include default-button;
}
button:hover {
  @include default-button-hover;
}
button:active {
  @include default-button-pressed;
}
.warning-button {
  @include warning-button;
}
.warning-button:hover {
  @include warning-button-hover;
}
.success-button {
  @include success-button;
}
.success-button:hover {
  @include success-button-hover;
}
.text-marker {
  color: $primary-color-dark;
}
.warning-marker {
  color: $primary-red;
}
.success-marker {
  color: $primary-green;
}
.default-container {
  margin: 0 auto 10vh auto;
  padding-top: 5vh;
  width: $default-width;
  section {
    margin-top: 2rem;
  }
}
.default-group-list {
  @include clear-list;
  li {
    padding: .4rem 0;
    font-weight: 300;
    color: $icon-grey;
    a {
      color: $icon-grey;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
.default-grid {
  display: grid;
  grid-template-columns: 25%;
  section {
    grid-column: 2;
  }
}
.fa-eye {
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}
.fa-eye:hover {
  color: #303C4E;
  transform: translateY(-2px);
}
