@import "variables";
@mixin default-button {
  background-color: $primary-color;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  padding: .5rem .8rem;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: .2s background-color;
  transition: .1s box-shadow;
  transition: .3s transform;
  cursor: pointer;
  user-select: none;
}
@mixin default-button-hover {
  background-color: $primary-color-dark;
  transform: scale(1.05);
}
@mixin default-button-pressed {
  background-color: $primary-color-darker;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
@mixin flex-space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-space-around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@mixin flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@mixin background-image {
  background-size: cover;
  background-position: center;
}
@mixin clear-list {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
@mixin profile-picture-xs {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 .4rem;
}
