@import "variables";
@mixin default-button {
  font-family: $primary-font;
  background-color: $primary-color-dark;
  box-shadow: $default-shadow;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  padding: .5rem .8rem;
  border-radius: 2px;
  transition: .2s background-color;
  transition: .1s box-shadow;
  transition: .3s transform;
  cursor: pointer;
  user-select: none;
}
@mixin default-button-hover {
  background-color: $primary-color;
  transform: scale(1.05);
}
@mixin default-button-pressed {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
@mixin warning-button {
  @include default-button;
  background-color: $primary-red;
}
@mixin warning-button-hover {
  @include default-button-hover;
  background-color: $primary-red-light;
}
@mixin success-button {
  @include default-button;
  background-color: $primary-green;
}
@mixin success-button-hover {
  @include default-button-hover;
  background-color: $primary-green-light;
}
@mixin flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@mixin flex-space-between {
  @include flex;
  justify-content: space-between;
}
@mixin flex-space-around {
  @include flex;
  justify-content: space-around;
}
@mixin flex-center {
  @include flex;
  justify-content: center;
}
@mixin flex-start {
  @include flex;
  justify-content: flex-start;
}
@mixin flex-end {
  @include flex;
  justify-content: flex-end;
}
@mixin background-image {
  background-size: cover;
  background-position: center;
}
@mixin clear-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@mixin profile-picture-xs {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 .4rem;
}
