@import "variables";
@import "mixins";

.news-feed-wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-column-gap: 10px;
}
.news-feed-wrapper:first-child {
  grid-column: 1;
}
