@import "variables";
@import "mixins";

.news-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
  header {
    border-bottom: 1px solid $default-grey;
    padding-bottom: .5rem;
    display: flex;
    align-items: center;
    img {
      @include profile-picture-xs;
    }
    span {
      strong a {
        color: $primary-color-darker;
        text-decoration: none;
      }
      color: $icon-grey;
      span {
        padding: 0 .3rem;
      }
    }
    span strong a:hover {
      text-decoration: underline;
    }
  }
  section {
    p {
      margin: .5rem 0;
      padding: 0;
    }
    .news-content {
      border-bottom: 1px solid $default-grey;
      padding: .5rem .2rem;
    }
    .news-votes {
      text-align: right;
      margin-right: 1rem;
      font-size: 1.2rem;
      color: $primary-green;
      font-weight: bold;
    }
  }
  footer {
    span {
      color: $icon-grey;
      margin: 0 1rem;
      font-size: 1.2rem;
      cursor: pointer;
    }
    .fa-plus:hover {
      color: $primary-green;
    }
    .fa-minus:hover {
      color: $primary-red;
    }
    .fa-commenting:hover {
      color: $primary-color-darker;
    }
  }
}
