@import "variables";
@import "mixins";

.side-panel {
  margin-top: 4.25rem;
  form {
    border-radius: 5px;
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    h3 {
      text-align: center;
      font-weight: 500;
    }
    input {
      margin: 0;
      font-weight: 600;
      background-color: #F7F8F9;
      border: none;
    }
    div {
      margin: 1rem 0;
      select {
        width: 100%;
        background-color: #F7F8F9;
        font-weight: 600;
      }
    }
    textarea::-webkit-scrollbar {
      width: .5rem;
    }
    textarea::-webkit-scrollbar-thumb {
    	border-radius: 5px;
    	background-color: $primary-color;
    }
    textarea {
      padding: 8px 16px;
      box-sizing: border-box;
      width: 100%;
      font-weight: 600;
      background-color: #F7F8F9;
      border: none;
    }
    .aside-button-submit {
      @include flex-center;
    }
  }
}
