@import "variables";
@import "mixins";

aside {
  background-color: $primary-navy;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  height: 80vh;
  margin-top: 4.25rem;
  form {
    h3 {
      text-align: center;
      font-weight: 500;
    }
    input::placeholder {
      color: #fff;
    }
    input {
      margin: 0;
      font-weight: 100;
      background-color: $primary-navy-light;
      color: #fff;
      border: none;
    }
    div {
      margin: 1rem 0;
      select {
        padding: 8px 16px;
        width: 100%;
        font-family: 'Raleway', sans-serif;
        background-color: $primary-navy-light;
        color: #fff;
        font-weight: 100;
      }

    }
    textarea::-webkit-scrollbar {
      width: .5rem;
      background-color: $primary-navy-light;
    }
    textarea::-webkit-scrollbar-thumb {
    	border-radius: 5px;
    	background-color: $primary-navy;
    }
    textarea {
      padding: 8px 16px;
      box-sizing: border-box;
      font-family: 'Raleway', sans-serif;
      width: 100%;
      font-weight: 100;
      font-size: 1.2rem;
      background-color: $primary-navy-light;
      color: #fff;
      border: none;
    }
    textarea::placeholder {
      color: #fff;
    }
    .aside-button-submit {
      display: flex;
      justify-content: center;
    }
  }
}
