@import "variables";
@import "mixins";
.user-account {
  display: grid;
  grid-template-columns: 25%;
  .user-name {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid $default-grey;
    padding: 3rem 0 1rem 0;
    grid-column: 1/3;
    img {
      width: 200px;
      height: 200px;
      border: 10px solid #fff;
      box-shadow: 3px 3px 3px #777;
      overflow: hidden;
    }
    h2 {
      margin: 0 2rem;
      font-size: 2.4rem;
      strong {
        text-transform: uppercase;
        color: $primary-color-darker;
      }
    }
  }
  aside {
    grid-row: 2;
    grid-column: 1;
    .side-heading {
      border-bottom: 1px solid $default-grey;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      h4 {
        margin: 0;
        padding: 1rem 0;
      }
      a {
        text-decoration: none;
        color: $link-grey;
        font-weight: 300;
        padding: 0 .3rem;
      }
      a:hover {
        text-decoration:underline;
      }
    }
    ul {
      @include clear-list;
      li {
        padding: .5rem 0;
        font-weight: 300;
        color: $icon-grey;
        a {
          color: $icon-grey;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .latest-activity-container {
    background-color: $default-grey;
    border-radius: 10px;
  }
  section {
    grid-row: 2;
    grid-column: 2/6;
    padding: 0 5rem;
    table {
      width: 100%;
      border: 1px solid $default-grey;
      thead, tbody {
        display: grid;
        tr {
          padding: 1rem;
          display: grid;
          grid-template-columns: 25% 75%;
          td:first-of-type {
            text-align: center;
          }
          th:last-of-type {
            text-align: left;
          }
        }
      }
      tbody tr {
          border-top: 1px solid $default-grey;
          cursor: pointer;
      }
      tbody tr:hover {
        td:last-of-type {
          text-decoration: underline;
        }
      }
    }
  }
}
