@import "../variables";
@import "../mixins";

.login {
  @include flex-end;
  ul {
    @include clear-list;
    display: flex;
    margin: 0 1rem;
    li {
      padding: 0 .4rem;
      display: flex;
      align-items: center;
    }
  }
}
