@import "../variables";
@import "../mixins";

.user-panel {
  position: relative;
  @include flex-space-between;
  input {
    width: 20rem !important;
  }
  .user-icons {
    @include clear-list;
    @include flex-center;
    li {
      color: $icon-grey;
      font-size: 1.5rem;
      margin: 0 .7rem;
      cursor: pointer;
    }
    li:hover {
      color: #222B3C;
      text-decoration: none;
    }
  }
}
