@import "../variables";
@import "../mixins";
.modal-container {
  @include flex-center;
  position: fixed;
  overflow: hidden;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.5);
  .modal-content {
    background-color: #fff;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    .modal-header {
      text-align: right;
      .fa-times {
        margin: 1rem;
        font-size: 1.3rem;
        cursor: pointer;
      }
      .fa-times:hover {
        color: $primary-color;
      }
    }
    .modal-body {
      margin: 0 5rem;
      display: flex;
      flex-direction: column;
      h2 {
        text-align: center;
        color: $primary-color-dark;
        text-transform: uppercase;
      }
      label {
        margin: 0 2rem;
        font-size: 1.3rem;
      }
      div {
        margin: 0 auto;
      }
      .register-message-box {
        padding-bottom: 1rem;
        font-weight: 700;
        text-align: center;
      }
    }
    .modal-footer {
      @include flex-center;
      margin: 2rem 0;
    }
  }
}
