@import "../variables";
@import "../mixins";

.edit-account-contaner {
  h2 {
    font-weight: 300;
    font-size: 2.5rem;
  }
  p {
    font-weight: 300;
  }
  form {
    .edit-account-fields {
      margin: 0 auto;
      width:50%;
      display: grid;
      grid-template-columns: 40% 50%;
      input, label {
        margin: 1rem;
      }
      label {
        text-align: right;
        font-size: 1.2rem;
        line-height: 200%;
        color: $primary-color-darker;
      }
    }
    .edit-account-buttons {
      @include flex-space-between;
      height: 7vh;
    }
  }
}
