@import "../variables";
@import "../mixins";

.notification-box {
  position: absolute;
  width: 250px;
  top: 3rem;
  right: 8rem;
  background-color: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: $default-shadow;
  header {
    background-color: $primary-color-darker;
    color: #FFF;
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr 10px;
    div span {
      transition: .1s transform;
    }
    div span:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  section {
    min-height: 150px;
  }
}
.notification {
  display: grid;
  grid-template-columns: 1fr 30px 30px;
  border-bottom: $default-border;
  justify-items: center;
  align-items: center;
  p {
    font-weight: 300;
    margin: 0;
    padding: 1rem 5px;
  }
  span {
    font-weight: 300;
    color: $icon-grey;
  }
  span:hover {
    color: $icon-grey-hover;
  }
}
