@import "../variables";
@import "../mixins";
.user-container {
  display: grid;
  grid-template-columns: 30% 1fr;
  padding-top: 2rem;
  grid-gap: 50px;
  .user-card {
    grid-column: 1/2;
    img {
      width: 100%;
      margin-bottom: 1rem;
    }
    div h3 {
        color: $primary-navy-light;
        opacity: .8;
        font-weight: 500;
        margin: 2rem 0;
        text-transform: uppercase;
        border-bottom: $default-border;
        padding-bottom: 1rem;
    }
  }
  .user-content {
    h2 {
      margin: 1rem 0;
      font-size: 2.4rem;
      strong {
        color: $primary-navy-light;
        opacity: .8;
        font-weight: 500;
      }
    }
    p {
      display: grid;
      grid-template-columns: 25% 1fr;
    }
    div {
      border-radius: 5px;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      h3 {
        color: $primary-navy-light;
        opacity: .8;
        font-weight: 500;
        text-transform: uppercase;
        border-bottom: $default-border;
        padding-bottom: 1rem;
      }
      ul {
        @include clear-list;
        li {
          font-size: 1.1rem;
          transition: .3s;
          a {
            padding: 1rem;
            color: #000;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
          }
        }
        li:hover {
          background-color: #fff;
          transform: translateY(2px);
        }
      }
    }
  }
}
