@import "../variables";
@import "../mixins";
.user-shortcuts {
  background-color: #fff;
  position: fixed;
  top: 5vh;
  padding: 2rem 5rem 2rem 2rem;
  border-radius: 10px;
  grid-column: 1;
  max-width: 11rem;
  .notifications-shortcut:hover {
    cursor: pointer;
  }
  .account-shortcut {
    border-bottom: 1px solid $default-grey;
    display: flex;
    h3 {
      font-weight: 300;
      color: $primary-color;
      font-size: 1.5rem;
    }
    img {
      @include profile-picture-xs;
    }
  }
  div {
    margin: 1rem 0;
    h4 {
      margin: 0;
    }
    ul {
      list-style-type: none;
      margin: 1rem 0;
      padding: 0;
      li:hover {
        cursor:pointer;
        color: $primary-color;
      }
    }
  }
}
