@import "variables";
@import "mixins";
.user-shortcuts {
  position: fixed;
  top: 10vh;
  grid-column: 1;
  .notifications-shortcut:hover {
    cursor: pointer;
  }
  .account-shortcut {
    border-bottom: 1px solid $default-grey;
    display: flex;
    h3 {
      font-weight: 300;
    }
    img {
      @include profile-picture-xs;
    }
  }
  div {
    margin: 1rem 0;
    h4 {
      margin: 0;
    }
  }
}
