@import "../variables";
@import "../mixins";
.user-shortcuts::-webkit-scrollbar {
  width: .5rem;
}
.user-shortcuts::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: $primary-navy-light;
}
.user-shortcuts {
  margin-top: 4.25rem;
  padding-left: .5rem;
  overflow-y: scroll;
  background-color: $primary-navy;
  color: #fff;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  grid-column: 1;
  width: 17rem;
  a {
    text-decoration: none;
  }
  .account-shortcut {
    padding: 0 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    @include flex-center;
    h3 {
      font-weight: 500;
      font-size: 1.5rem;
      color: $default-grey;
    }
    img {
      @include profile-picture-xs;
      margin: 0 1rem;
    }
  }
  h3 {
    text-align: center;
    font-weight: 400;
  }
  .groups-shortcut {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        font-weight: 600;
        transition: .3s;
        a {
          padding: 1rem;
          @include flex-space-between;
          color: #fff;
          text-decoration: none;
        }
        .group-name {
          max-width: 80%;
        }
      }
      li:hover {
        transform: translateY(2px);
        background-color: #303C4E;
      }
    }
  }
}
