@import "../variables";
@import "../mixins";

.dropdown-news-box {
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: #fff;
  border: $default-border;
  font-weight: bold;
  user-select: none;
  ul {
    @include clear-list;
    width: 8rem;
    li {
      padding: .6rem 1rem;
    }
    li:hover {
      background-color: $primary-color-dark;
      color: #fff;
      cursor: pointer;
    }
  }
}
